body.ui.grid {
   padding: 0;
   margin: 0;
   font-size: 18px;
   font-family: arial, sans-serif;
   background-color: #F1F1F1;
}

p {
    line-height: 140%;
}

header.row.sixteen.wide.column {
   margin: 0;
   padding: 0;
   background-color: #fff;
}

h1 {
    position: absolute;
    top: 0;
    left: 30%;
    z-index: 1;
}

#menu {
   margin: 0;
   width: 100%;
}

#mainHead {
   width: 100%;
}

#m_nav {
   margin: 0;
   width: 100%;
   display: none;
   padding: 0 1em;
}

#m_nav h4 {
   width: 70%;
   float: left;
}

#m_btn {
   margin-right: .5em;
}

section.ui.mobile.reversed.stackable.grid.segment {
   width: 100% !important;
   border: 0 !important;
   margin: 0 auto !important;
   padding: 0 ;
}

aside {
   margin: 0;
   padding: 0;
}

aside nav {
   float:right;
}

article#content {
   padding: 1em !important;
}

section div article.eight.wide.column.splash {
   padding: 0 ;
}

section div article.eight.wide.column.splash img {
   min-width: 300px;
   min-height: 250px;
}

footer.row {
   position: absolute;
   bottom: 0;
   padding: 0 !important;
   text-align: center;
   max-height: 160px;
}

@media all and (max-width: 1000px) {
    body.ui.grid.container#body {
        width: 100% !important;
        margin:0 !important;
    }
}

@media all and (max-width: 768px) {
  #m_items { display: block; }

 section.ui.mobile.reversed.stackable.grid.segment aside {
    padding: 0 !important;
 }
    

  aside nav {
     float: none !important;
     width: 100% !important;
     text-align: center !important;
  }
  aside nav a {
     width: 100% !important;
}
}

@media all and (min-width:631px){
  html body.pushed {
    margin-left: 0 !important;
  }
  #m_menu.active {
    display: none;
  }
}

@media all and (max-width: 630px) {
  #menu{display:none;}
  #m_nav{
    display: inline-block;
  }
  body.pushed {
    overflow:hidden;
  }
}
